# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
env/
venv/
ENV/

# Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Outputs
outputs/
artifacts/
results/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db
